@font-face {
    font-family: 'poppinsextrabold';
    src: url('fonts/poppins-extrabold-webfont.woff2') format('woff2'),
        url('fonts/poppins-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'poppinssemibold';
    src: url('fonts/poppins-semibold-webfont.woff2') format('woff2'),
        url('fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'press_start_2pregular';
    src: url('fonts/pressstart2p-regular-webfont.woff2') format('woff2'),
        url('fonts/pressstart2p-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('fonts/robotocondensed-italic-webfont.woff2') format('woff2'),
        url('fonts/robotocondensed-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_condensedregular';
    src: url('fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
        url('fonts/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --color-background: #1E1E1E;
    --color-board: #2A2A2A;
    --color-lines: #444;
    --color-text: #EAEAEA;
    --color-player: #FF6B6B;
    --color-buttons: #333;
    --color-hover: #3F3F3F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-text);
}

body {
    background-color: var(--color-background);
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 50px;
}

.top-info {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'press_start_2pregular';
    font-size: 26px;
}

.instructions {
    font-family: 'roboto_condenseditalic';
    font-size: 18px;
}

.buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.buttons>button {
    font-family: 'roboto_condensedregular';
    font-size: 14px;
    background-color: var(--color-buttons);
    border: none;
    padding: 10px;
    border-radius: 50px;
    height: 40px;
}

.buttons>button:hover {
    background-color: var(--color-hover);
}

#main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 150px;
}

#boardContainer {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.message {
    text-align: center;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppinsextrabold';
    font-size: 22px;
    color: var(--color-player);
}

.row-one {
    border-bottom: 5px solid var(--color-lines);
}

.row-two {
    border-bottom: 5px solid var(--color-lines);
}

.column-one {
    border-right: 5px solid var(--color-lines);
}

.column-two {
    border-right: 5px solid var(--color-lines);
}

#score-one,
#score-two {
    white-space: pre;
    text-align: center;
    font-family: 'poppinssemibold';

}

#text-info {
    font-family: 'roboto_condensedregular';
    font-size: 18px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.show {
    display: flex;
}

.modal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    min-width: 320px;
    height: 425px;
    padding: 40px 30px 30px;
    background-color: #2A2A2A;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    position: relative;

}

.modal-title {
    margin-top: 20px ;
    font-family: 'press_start_2pregular';
    font-size: 22px;
}

.modal-content > label {
    margin-top: 20px ;
    font-family: 'roboto_condensedregular';
    font-size: 20px;
}

input {
    border: none;
    background-color: var(--color-background);
    padding: 8px;
    border: 1px solid var(--color-lines);
    border-radius: 8px;
    color: var(--color-text);
}

input:focus {
    outline: none;
    border-color: #4DA3FF;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #888;
}

.close-modal:hover {
    color: #333;
}

#save {
    font-family: 'roboto_condensedregular';
    font-size: 16px;
    border: none;
    padding: 12px;
    color: var(--color-text);
    border-radius: 20px;
    width: 100px;
    background-color: var(--color-background);
    margin-top: 20px;
}

#save:hover {
    background-color: var(--color-hover);
}